### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [41]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [58]:
purchase_data_df.head()
#purchase_data_df.count()
total_players= purchase_data_df["SN"].count
print(total_players)

<bound method Series.count of 0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object>

In [59]:
#group by the player name (SN)
SaleName_index_df=purchase_data_df.set_index("SN")
SaleName_index_df.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
SaleName_index_df.head()
SaleName_index_df.loc[:, ["Item Name", "Price"]].head()
unique_items = SaleName_index_df["Item Name"].unique()
unique_items.sort()
print(unique_items)
unique_counts = SaleName_index_df["Item Name"].value_counts()
#number of unique items
print(unique_counts)

['Abyssal Shard' 'Aetherius, Boon of the Blessed' 'Agatha' 'Alpha'
 'Alpha, Oath of Zeal' 'Alpha, Reach of Ending Hope' 'Amnesia'
 'Apocalyptic Battlescythe' 'Arcane Gem' 'Avenger' 'Azurewrath'
 'Betrayal, Whisper of Grieving Widows' 'Betrayer' 'Blade of the Grave'
 'Blazefury, Protector of Delusions' 'Blazeguard, Reach of Eternity'
 'Blindscythe' 'Blood Infused Guardian' 'Blood-Forged Skeletal Spine'
 "Bloodlord's Fetish" 'Bone Crushing Silver Skewer'
 'Bonecarvin Battle Axe' 'Brimstone' 'Brutality Ivory Warmace' 'Celeste'
 'Celeste, Incarnation of the Corrupted' 'Chaos, Ender of the End'
 'Conqueror Adamantite Mace' 'Crucifer' 'Crying Steel Sickle' 'Curved Axe'
 'Darkheart' 'Darkheart, Butcher of the Champion' 'Dawn' 'Dawne'
 'Deadline, Voice Of Subtlety' 'Deathraze' 'Deluge, Edge of the West'
 'Demise' 'Despair, Favor of Due Diligence' 'Devine'
 'Downfall, Scalpel Of The Emperor' "Dragon's Greatsword" 'Dreamkiss'
 'Dreamsong' 'Emberling, Defender of Delusions' 'Endbringer'
 'Eternal Cleaver' 'Exiled Doomblade' 'Exiled Mithril Longsword'
 'Expiration, Warscythe Of Lost Worlds'
 'Extraction, Quickblade Of Trembling Hands' "Faith's Scimitar"
 'Fate, Vengeance of Eternal Justice' 'Feral Katana'
 'Fiery Glass Crusader' 'Final Critic' 'Flux, Destroyer of Due Diligence'
 'Foul Edge' 'Foul Titanium Battle Axe'
 "Freak's Bite, Favor of Holy Might" 'Frenzied Scimitar'
 'Frenzy, Defender of the Harvest' 'Fury' 'Fusion Pummel'
 'Ghastly Adamantite Protector' 'Ghost Reaver, Longsword of Magic'
 "Gladiator's Glaive" 'Glimmer, Ender of the Moon' 'Glinting Glass Edge'
 'Hailstorm Shadowsteel Scythe' 'Hatred' 'Haunted Bronzed Bludgeon'
 'Heartless Bone Dualblade' 'Heartseeker, Reaver of Souls'
 'Heartstriker, Legacy of the Light' 'Hellreaver, Heirloom of Inception'
 'Hero Cane' "Hope's End" 'Hopeless Ebon Dualblade'
 'Interrogator, Blood Blade of the Queen' 'Lazarus, Terror of the Earth'
 'Lifebender' 'Lightning, Etcher of the King'
 'Malice, Legacy of the Queen' 'Malificent Bag' 'Massacre'
 'Mercenary Sabre' 'Mercy, Katana of Dismay' "Misery's End"
 'Mourning Blade' 'Netherbane' 'Nirvana'
 'Oathbreaker, Last Hope of the Breaking Storm'
 'Oathbreaker, Spellblade of Trials' 'Orbit' 'Orenmir'
 'Peacekeeper, Wit of Dark Magic' 'Persuasion' 'Phantomlight'
 'Piece Maker' 'Piety, Guardian of Riddles' 'Possessed Core'
 'Primitive Blade' 'Purgatory, Gem of Regret'
 'Pursuit, Cudgel of Necromancy' 'Putrid Fan'
 'Rage, Legacy of the Lone Victor' 'Ragnarok' "Reaper's Toll"
 'Relentless Iron Skewer' 'Renewed Skeletal Katana' 'Restored Bauble'
 'Retribution Axe' 'Riddle, Tribute of Ended Dreams' 'Righteous Might'
 'Ritual Mace' 'Rusty Skull' 'Scalpel' 'Second Chance' 'Serenity'
 'Severance' 'Shadow Strike, Glory of Ending Hope' 'Shadowsteel'
 'Singed Onyx Warscythe' 'Singed Scalpel' 'Sleepwalker'
 "Solitude's Reaver" 'Soul Infused Crystal' 'Soul-Forged Steel Shortsword'
 'Souleater' 'Spada, Etcher of Hatred' 'Spectral Diamond Doomblade'
 'Splinter' 'Splitter, Foe Of Subtlety'
 'Storm-Weaver, Slayer of Inception'
 'Stormbringer, Dark Blade of Ending Misery' 'Stormcaller'
 'Stormfury Lantern' 'Stormfury Longsword' 'Stormfury Mace' 'Striker'
 'Sun Strike, Jaws of Twisted Visions' 'Suspension'
 'Swan Song, Gouger Of Terror' 'The Decapitator'
 'The Oculus, Token of Lost Worlds' 'The Void, Vengeance of Dark Magic'
 'Thirsty Iron Reaver' 'Thorn, Conqueror of the Corrupted'
 'Thorn, Satchel of Dark Souls' 'Thunderfury Scimitar' 'Toothpick'
 'Torchlight, Bond of Storms' 'Tranquility, Razor of Black Magic'
 'Trickster' "Twilight's Carver" 'Undead Crusader' 'Unending Tyranny'
 'Unholy Wand' 'Vengeance Cleaver' 'Venom Claymore' 'Verdict'
 'Victor Iron Spikes' 'Vindictive Glass Edge' 'War-Forged Gold Deflector'
 "Warmonger, Gift of Suffering's End" 'Warped Diamond Crusader'
 'Warped Fetish' 'Warped Iron Scimitar' 'Whistling Mithril Warblade'
 "Winter's Bite" 'Winterthorn, Defender of Shifting Worlds'
 'Woeful Adamantite Claymore' 'Wolf' 'Wolf, Promise of the Moonwalker'
 'Worldbreaker' 'Yearning Crusher' 'Yearning Mageblade']
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Alpha, Reach of Ending Hope                      1
Endbringer                                       1
Undead Crusader                                  1
Ghost Reaver, Longsword of Magic                 1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [46]:
#group by the unique items
group_unique_items_df=SaleName_index_df.groupby(["Item Name"])
group_unique_items_df
group_unique_items_df.count().head(10)
#find the mean price of each unique item
group_unique_items_df["Price"].mean()
#find the total mean price
total_average_price=purchase_data_df["Price"].mean()
print("$"+ str(total_average_price))

$3.050987179487176

In [61]:
#find the total revenue. take the sum of the price column
total_revenue = SaleName_index_df["Price"].sum()
print("$"+ str(total_revenue))

$2379.77

In [98]:
#now make a summary table
unique_items_summary_table = pd.DataFrame({"Total Items Purchased": unique_counts,
                                    "Average Price": total_average_price,
                                    "Total Revenue": total_revenue})
unique_items_summary_table.head()

,Total Items Purchased,Average Price,Total Revenue
Final Critic,13,3.050987,2379.77
"Oathbreaker, Last Hope of the Breaking Storm",12,3.050987,2379.77
Nirvana,9,3.050987,2379.77
Persuasion,9,3.050987,2379.77
"Extraction, Quickblade Of Trembling Hands",9,3.050987,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [74]:
gender_count = purchase_data_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [84]:
player_count= purchase_data_df["Gender"].count()
player_count

780

In [92]:
percentage_of_players = gender_count/player_count
percentage_of_players

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [94]:
gender_summary_table= pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players (decimal)": percentage_of_players
                                   })
gender_summary_table

                       Total Count  Percentage of Players (decimal)
Male                           652                         0.835897
Female                         113                         0.144872
Other / Non-Disclosed           15                         0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
gender_groupby = purchase_data.groupby("Gender")
gender_groupby
amount_purchased=gender_groupby["Purchase ID"].count()
amount_purchased
average_purchase_price=gender_groupby["Price"].mean()
average_purchase_total = gender_groupby["Price"].sum()
average_purchase_total_per_person = average_purchase_total/player_count

purchase_analysis=pd.DataFrame({"Amount Purchased": amount_purchased, 
                                    "Average Purchase Price": average_purchase_price,
                                    "Average Purchase Total":average_purchase_total,
                                    "Average Purchase Total per Person": average_purchase_total_per_person})
purchase_analysis

,Amount Purchased,Average Purchase Price,Average Purchase Total,Average Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,0.464026
Male,652,3.017853,1967.64,2.522615
Other / Non-Disclosed,15,3.346000,50.19,0.064346

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [128]:
#i don't know why this max age formula isn't giving me a single value?
#max_age= purchase_data_df["Age"].max
#so i will randomly assign my bins
age_bins= [0, 9, 14, 19, 24, 29, 34, 39, 999]
group_labels=["Less than 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", 
             "35 to 39", "40 and Over"]
purchase_data["Age Group"]= pd.cut(purchase_data["Age"],age_bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 and Over
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [138]:
#first group by the new Age Group category
age_df= purchase_data.groupby(["Age Group"])
print(age_df)
age_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F209C99400>

              Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
Less than 10           23   23   23      23       23         23     23
10 to 14               28   28   28      28       28         28     28
15 to 19              136  136  136     136      136        136    136
20 to 24              365  365  365     365      365        365    365
25 to 29              101  101  101     101      101        101    101
30 to 34               73   73   73      73       73         73     73
35 to 39               41   41   41      41       41         41     41
40 and Over            13   13   13      13       13         13     13

In [150]:
#count all the unique names within each bin
total_age_count = age_df["SN"].nunique()
total_age_count
#find the percent of total names within each bin
percentage_of_players = (total_age_count/player_count)*100
percentage_of_players

Age Group
Less than 10     2.179487
10 to 14         2.820513
15 to 19        13.717949
20 to 24        33.076923
25 to 29         9.871795
30 to 34         6.666667
35 to 39         3.974359
40 and Over      1.538462
Name: SN, dtype: float64

In [152]:
age_summary_table=pd.DataFrame({"Percentage of Players": percentage_of_players,
                               "Total Count": total_age_count})
age_summary_table

              Percentage of Players  Total Count
Age Group
Less than 10               2.179487           17
10 to 14                   2.820513           22
15 to 19                  13.717949          107
20 to 24                  33.076923          258
25 to 29                   9.871795           77
30 to 34                   6.666667           52
35 to 39                   3.974359           31
40 and Over                1.538462           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [159]:
#reidentify age dataframe
age_df= purchase_data.groupby(["Age Group"])
print(age_df)
age_df.count()
#count number of purchases within each age group
age_purchase_count=age_df["Purchase ID"].count()
age_purchase_count
#calculate the average purchase price within each age group
age_average_purchase_price=age_df["Price"].mean()
#calculate the average purchase total per person within each age group
age_average_purchase_total = age_df["Price"].sum()
age_average_purchase_total_per_person= age_average_purchase_total/player_count

age_purchase_analysis=pd.DataFrame({"Amount Purchased": age_purchase_count, 
                                    "Average Purchase Price": age_average_purchase_price,
                                    "Average Purchase Total":age_average_purchase_total,
                                    "Average Purchase Total per Person": age_average_purchase_total_per_person})
age_purchase_analysis

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F209D42C18>

,Amount Purchased,Average Purchase Price,Average Purchase Total,Average Purchase Total per Person
Age Group,,,,
Less than 10,23,3.353478,77.13,0.098885
10 to 14,28,2.956429,82.78,0.106128
15 to 19,136,3.035956,412.89,0.529346
20 to 24,365,3.052219,1114.06,1.428282
25 to 29,101,2.900990,293.00,0.375641
30 to 34,73,2.931507,214.00,0.274359
35 to 39,41,3.601707,147.67,0.189321
40 and Over,13,2.941538,38.24,0.049026

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#observable trends in the data:
#1) I would encourage the makers of Heroes of Pymoli to target 20 to 24 year olds since this age group makes more purchases
# than any other age group.
#2) There are more males who play the game and make purchases. This would influence advertising strategy as well.
#3) There is a correlation between the amount purchased and average purchase total. Meaning that if the company could increase
# the number of purchases--no matter what those purchases are--then they could boost total revenue.